
img{
    width: 100px;
    height: 100px;
    float: left;
}

#imgdiv{
    width: 100px;
    height: 100px;
    float: left
}

#h1div{
    height: 100px;
    float: left;
    margin-top: 10px;
}

#indiv1{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 20vh;
}

#lbl1{
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

#input1{
   position: relative;
   left: 50px;
}

#input1div{
    width: 296px;
    margin: auto;
}

#lbl2{
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

#input2{
    position: relative;
    left: 25px;
}

#input2div{
    width: 296px;
    margin: auto;
}

#input3{
    float: left;
    
}

#input3div{
    width: 296px;
    margin: auto;
}

#chkbx{
    margin-left: 0px;
    margin-right: 0px;
    width: 50px;
    margin-left: 80px;
}

#lbl4{
    width: 380px;
    margin: auto;
}

#btn{
    width: 120px;
    margin: auto;
}

form{
    margin-top: 100px;
}

input{
    width: 200px;
}